#emplear la librería requests
pip install pandas
pip install numpy
pip install fastapi sqlalchemy psycopg2-binary
pip install uvicorn


#para correr la aplicación
uvicorn main:app --reload   #main es el nombre del archivo y app es el nombre de la variable que contiene la aplicación
