# Crear environment
python3 -m venv fastapi
source fastapi/bin/activate


# Crear contenedor de docker
docker run --name DB_Taller_FastAPI -e POSTGRES_USER=postgres -e POSTGRES_PASSWORD=password -e POSTGRES_DB=Taller_FastAPI -p 5433:5432 -d postgres


# Importar BD en docker
docker ps
docker cp ./northwind.sql DB_Taller_FastAPI:/northwind.sql
docker exec -it DB_Taller_FastAPI bash
psql -U postgres -d Taller_FastAPI
\i /northwind.sql
\dt
\q


# Librerias
pip install pandas
pip install fastapi uvicorn
pip install sqlalchemy psycopg2-binary asyncpg


#para correr la aplicación
uvicorn main:app --reload   #main es el nombre del archivo y app es el nombre de la variable que contiene la aplicación
